* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 40%;
  left: 48%;
  margin: -100px 0 0 -150px;
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.login .form{
padding: 10px;
}

.login .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.login .form input{
  padding: 6px;
  width: 200px;
}

.login .form .space{
  padding: 10px;
}
.login .space{
  padding: 10px;
}

.register {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 20%;
  left: 40%;
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.register .form{
padding: 10px;
}

.register .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.register .form input{
  padding: 6px;
  width: 200px;
}

.register .form .space{
  padding: 10px;
}
.register .space{
  padding: 10px;
}


.mainBody {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.mainBody nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainBody nav h2 {
  color: #fff;
}

.mainBody nav button {
  width: max-content;
  padding: 8px;
  border-radius: 8px;
  background: #381f69;
}

.mainBody nav button:hover{
  background: red;
  color:black;
}



.login .btnLogin{
    position: relative;
    width: max-content;
    left: 35%;
    margin-top: 20px;
    align-items: center;
    background-color: chocolate;
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    border-radius: 15px;
  }
  
  .login .divbtnLogin .btnLogin{
    transition-duration: 0.5s;
  }
  
  .login .divbtnLogin .btnLogin:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .login p{
    color: white;
  }

  .Popup{
      display: none;
  }
  
  .register .btnLogin{
    position: relative;
    top: 80%;
    left: 30%;
    margin-top: 20px;
    align-items: center;
    background-color: chocolate;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    border-radius: 15px;
  }
  
  .register .divbtnLogin .btnLogin{
    transition-duration: 0.5s;
  }
  
  .register .divbtnLogin .btnLogin:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .Popup{
      display: none;
  }

  .register .authority{
    text-align: center;
    color: aliceblue;
  }

 