.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.login {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 40%;
  left: 48%;
  margin: -100px 0 0 -150px;
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.login .form{
padding: 10px;
}

.login .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.login .form input{
  padding: 6px;
  width: 200px;
}

.login .form .space{
  padding: 10px;
}
.login .space{
  padding: 10px;
}

.register {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 20%;
  left: 40%;
  /* margin: 100px; */
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.register .form{
padding: 10px;
}

.register .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.register .form input{
  padding: 6px;
  width: 200px;
}

.register .form .space{
  padding: 10px;
}
.register .space{
  padding: 10px;
}

