* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 40%;
  left: 48%;
  margin: -100px 0 0 -150px;
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.login .form{
padding: 10px;
}

.login .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.login .form input{
  padding: 6px;
  width: 200px;
}

.login .form .space{
  padding: 10px;
}
.login .space{
  padding: 10px;
}

.register {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 50px;
  z-index: 15;
  top: 20%;
  left: 40%;
  /* margin: 100px; */
  background-color: rgb(23, 79, 134);
  z-index: 10;
  box-shadow: 5px 8px 10px;
}

.register .form{
padding: 10px;
}

.register .form label{
font-size: medium;
font-weight: 500;
color: floralwhite;
}

.register .form input{
  padding: 6px;
  width: 200px;
}

.register .form .space{
  padding: 10px;
}
.register .space{
  padding: 10px;
}


/* .mainBody {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
} */

.mainBody nav {
  background: #603bbb;
  width: 100%;
  padding-top: 10px;
  // padding-bottom: 10px;
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.mainBody nav h2 {
  color: #fff;
  
}

.mainBody nav button {
  width: max-content;
  padding: 8px 3px 8px 3px;
  margin: 8px 2px 8px 2px;
  border-radius: 8px;
  background: #381f69;
}

.mainBody nav button:hover{
  background: red;
  color:black;
}

/* .mainBody .opList{
  display: none;
}
.mainBody .opList:hover{
  display:list-item;
} */

.mainBody .dropdown{
  position: relative;
}

.mainBody .dropdown .opList{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover{
display: block;
}

.mainBody .dropdown .opList a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.wrg-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.wrg-toggle-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrg-toggle-check, .wrg-toggle-uncheck {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity .25s ease;
}
.wrg-toggle-check {
  left: 8px;
  
}
.wrg-toggle-uncheck {
  opacity: 1;
  right: 10px;
}

.wrg-toggle-uncheck span, 
.wrg-toggle-check span {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  position: relative;
  width: 10px;
}

.wrg-toggle-container{
  width: 75px;
  height: 36px;
  padding: 0;
  border-radius: 45px;
  background-color: #4d4d4d;
  transition: all .2s ease;
}

.wrg-toggle-circle{
  transition: all 1s cubic-bezier(.23,1,.32,1) 0ms;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 33px;
  height: 33px;
  border: 2px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all .5s ease;
}
.wrg-toggle--checked .wrg-toggle-check{
  opacity: 1;
}
.wrg-toggle--checked .wrg-toggle-uncheck {
  opacity: 0;
}
.wrg-toggle--checked .wrg-toggle-circle {
  left: 41px;
}